<div class="container_dicas">
	<h4>Adicionando Rede Sociais</h4>

	<ol>
		<span class="text-justify">
			Parte importante na fase de conhecimento de um artista é a sua história ou trajetoria. E uma das formas mais importantes de contar isso é através da sua Discografia.
			<strong>Obs.: O Portlal não limita a quantidade de discos.</strong>
		</span>
		
		<li>			
			Botão Adicionar Disco: Clique no botão “Adicionar Disco” conforme imagem abaixo:

			<br>
			<%= cl_image_tag("body-img/dicas_de_uso/dicas_discografia_1.jpg") %>	
		</li>

		<li>			
			 Escolhendo Capa: Clique no botão “Escolher arquivo” para selecionar em seu computador a capa do disco. <br>
			 <strong>Obs.: Caso não possua esta imagem, o portal irá adicionar uma imagem “genérica” para seu lugar.</strong>

			<br>
			<%= cl_image_tag("body-img/dicas_de_uso/dicas_discografia_2.jpg") %>	
		</li>
		
		<li>			
			 Nome: Nome do disco.
			<br>
			<%= cl_image_tag("body-img/dicas_de_uso/dicas_discografia_3.jpg") %>	
		</li>

		<li>			
			 Data: Data que o disco foi lançado.
			<br>
			<%= cl_image_tag("body-img/dicas_de_uso/dicas_discografia_4.jpg") %>	
		</li>

		<li>			
			 Botão Incluir Disco: Clique no botão “Incluir Disco” para adicionar este disco

			<br>
			<%= cl_image_tag("body-img/dicas_de_uso/dicas_discografia_5.jpg") %>	
		</li>
		
		
	</ol>

</div>
