<div class="container_dicas">
	<h4>Preenchendo o Perfil de artista</h4>

	<ol>
		
			Assim que terminar o cadastro, você será automaticamente direcionado para sua tela de administrador do seu perfil onde deverá preencher o máximo de informações possíveis sobre seu grupo, banda etc pois essas informações é que serão visualizadas pelos visitantes do site.		
		
		<li>			
			 Nome: Este será o nome que o visitante irá ver quando acessar seu perfil
			
			<%= cl_image_tag("body-img/dicas_de_uso/dicas_perfil_1.jpg")%>

		</li>

		<li>			
			 Insira uma foto ao seu perfil: Clique no botão “Escolher arquivo” e selecione a foto que deseja. <br>
			 <strong>Obs.: Esta será a foto principal para o perfil de artista</strong>
			
			<%= cl_image_tag("body-img/dicas_de_uso/dicas_perfil_2.jpg")%>

		</li>

		<li>			
			 Email: Este será o email principal de contato do seu perfil

			
			<%= cl_image_tag("body-img/dicas_de_uso/dicas_perfil_3.jpg")%>

		</li>

		<li>			
			 Telefone: Número principal de contato em seu perfil

			
			<%= cl_image_tag("body-img/dicas_de_uso/dicas_perfil_4.jpg")%>

		</li>

		<li>			
			 História: Conte sua história detalhadamente para que o visitante do portal possa entender um pouco mais sobre seu grupo ou ministério. <br>

			
			<%= cl_image_tag("body-img/dicas_de_uso/dicas_perfil_5.jpg")%>

		</li>
	</ol>

</div>
