<div class="container_dicas">
	<h4>Crinado novo Shows/Eventos</h4>

	<ol>
		
			Além do visitante conhecer seu trabalho através dos vídeos e músicas postadas via SoundCloud, ele também poderá acompanhar sua agenda. Portanto mantenha sua agente sempre atualizada.
	
		
		<li>			
			 Adicionar Show - Clique no botão “Adicionar Show” conforme imagem abaixo:
			
			<%= cl_image_tag("body-img/dicas_de_uso/dicas_eventos_1.jpg") %>

		</li>

		<li>			
			 Local: Insira o nome do local onde será o evento.			
			
			<%= cl_image_tag("body-img/dicas_de_uso/dicas_eventos_2.jpg") %>

		</li>

		<li>
			Endereço: Preencha separando por “,” Logradouro, Cidade e Estado do evento.

			
			<%= cl_image_tag("body-img/dicas_de_uso/dicas_eventos_3.jpg") %>

		</li>

		<li>			
			 Número: Número do local do evento.
			<br>
			<%= cl_image_tag("body-img/dicas_de_uso/dicas_eventos_4.jpg") %>

		</li>

		<li>			
			 Telefone: Telefone de contato do local do evento para maiores informações.
			
			<%= cl_image_tag("body-img/dicas_de_uso/dicas_eventos_5.jpg") %>

		</li>
		<li>			
			 Site: Endereço virtual do local do evento.

			<%= cl_image_tag("body-img/dicas_de_uso/dicas_eventos_6.jpg") %>

		</li>

		<li>			
			 Data: Data do evento.
			<br>
			<%= cl_image_tag("body-img/dicas_de_uso/dicas_eventos_7.jpg") %>

		</li>

		<li>			
			 Hora: Horário do evento.
			 <br>			
			<%= cl_image_tag("body-img/dicas_de_uso/dicas_eventos_8.jpg") %>

		</li>

		<li>			
			 Confirmar: Clique no botão “Criar Show” para finalizar o cadastro do evento.
			 			
			<%= cl_image_tag("body-img/dicas_de_uso/dicas_eventos_9.jpg") %>

		</li>
	</ol>

</div>
