<%= simple_form_for(@phone) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :artist_data %>
    <%= f.input :telefone %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
