<% if !@status.nil? %>  
    <%= 
      case @action
      when 'create'
         alert(@status, 'Telefone adicionado com sucesso!')
      when 'update'    
         alert(@status, 'Telefone atualizado com sucesso!')
      when 'destroy'      
         alert(@status, 'Telefone removido com sucesso!')
      end    
      %>   
<% end %>
<p>
	<% if @profile == "adm" %>
		<%= link_to 'Adicionar Novo Numero', '/novo_telefone', remote: true, :class => 'btn btn-default'  %>
	<% end %>
</p>
<% if @artist_data.phones.empty? %>
	<h5>Não possui telefone cadastrado </h5>
<% else %>	
	<% @artist_data.phones.each do |tel| %>			
		<div class="show-info">
			<strong>Numero: </strong><%= tel.telefone %> <br/>	
				
			<% if @profile == "adm" %>
				<%= link_to "Editar","/edit_telefone/#{tel.id}/adm", :class => "btn btn-default", :remote => true %>
	        	<% if @phones_count > 1%>
	        		<%= link_to 'Excluir', "/remove_telefone/#{tel.id}/adm", method: :delete, :remote => true ,data: { confirm: 'Deseja excluir este e-mail?' } , class: 'btn btn-danger'%>
	        	<% end %>	
			<% end %>
		</div>			
	<% end %>		
<% end %>

