<div class="panel panel-default">
	<div class="panel-heading"><h3><%= @artist_data.nome %></h3></div>
	<div class="panel-body">
			<div class="panel panel-default">
				<div class="panel-heading">Contatos</div>
				<div class="panel-body">		
					<% if @artist_data.logo.present? %>
						<%= cl_image_tag(@artist_data.logo.url(:perfil), :class => 'img-thumbnail') %>					
					<% else %>
						<%= image_tag("ImagemArtistaSemFoto.png", width: '250px', heigth: '250px;') %>
					<% end %>
					<br />
					
					<%= link_to 'Mudar Imagem', "/edit_artista/#{@artist_data.id}", remote: true, class: 'btn btn-default' %>					
				</div>
			</div>		
			<div class="panel panel-default">
				<div class="panel-heading">Contatos</div>
				<div class="panel-body">		
					<%= render partial: 'artist_datas/show_contato'%>
				</div>
			</div>		
		

		
			<div class="panel panel-default">
				<div class="panel-heading">Album</div>
				<div class="panel-body">
					<%= render partial: 'discographys/index'%>
				</div>
			</div>
		
		
		
			<div class="panel panel-default">
				<div class="panel-heading">Videos</div>
				<div class="panel-body">
					<%= render partial: 'videos/index'%>
				</div>	
			

		
			<div class="panel panel-default">
				<div class="panel-heading">Agenda</div>
				<div class="panel-body">
					<%= render partial: 'commitments/index'%>
				</div>
			</div>			
		
		
			<div class="panel panel-default">
				<div class="panel-heading">Release</div>
				<div class="panel-body">
					<%= render partial: 'artist_datas/show_historia'%>
				</div>
			</div>		
		
		
	</div>

	
</div>