<div class="container">
	<nav class="menu_faq link">
		<ul>
			<li><%= link_to "Criando novo cadastro", '/dicas_cadastro', remote: true , class: 'btn_menu_faq'%></li>
			<li><%= link_to "Perfil de artista", '/dicas_perfil', remote: true , class: 'btn_menu_faq'%></li>
			<li><%= link_to "Agenda de Shows / Eventos", '/dicas_eventos', remote: true , class: 'btn_menu_faq'%></li>
			<li><%= link_to "Email", '/dicas_email', remote: true , class: 'btn_menu_faq' %></li>
			<li><%= link_to "Telefone", '/dicas_telefone', remote: true , class: 'btn_menu_faq' %></li>
			<li><%= link_to "Discográfia", '/dicas_discografia', remote: true , class: 'btn_menu_faq' %></li>
			<li><%= link_to "SoundCloud", '/dicas_soundcloud', remote: true , class: 'btn_menu_faq' %></li>
			<li><%= link_to "Redes sociais", '/dicas_redesocial', remote: true , class: 'btn_menu_faq'%></li>
			<li><%= link_to "Vídeos do Youtube", '/dicas_videos', remote: true , class: 'btn_menu_faq'%></li>

		</ul>
	</nav>
	
	<section class="dicas faq">			

		<div class="content_dicas">
			<h3>Dicas de uso</h3>
			<p class="text-justify">		

				Este guia tem como objetivo tentar minimizar ao máximo qualquer dificuldade que o artista recem cadastrado pode vir a encontrar. Qualquer dúvida que encontrar por favor nos entre em contato em <strong>portalrapgospelbrasil@gmail.com</strong> e assim que possível, iremos criar um novo tópico de ajuda. 
				
			</p>	
		</div>
	</section>
</div>

