<div class="container">
	
	<h3>Atendimento</h3>
	
	<h5>Peguntas mais frequentes</h5>

	
	<nav class="menu_faq link">
		<ul>
			<li><%= link_to "#{1}", '#', remote: true %></li>
			<li><%= link_to "#{2}", '#', remote: true %></li>
			<li><%= link_to "#{3}", '#', remote: true %></li>
			<li><%= link_to "#{4}", '#', remote: true %></li>
			<li><%= link_to "#{5}", '#', remote: true %></li>
		</ul>
	</nav>

	<div class="content_faq">
		
	</div>
</div>