<div class="container">
	
	
	
	<nav class="menu_faq link">
		<ul>
			<li><%= link_to "Sobre o Portal Rap Gospel Brasil", '/faq_portal', remote: true , class: 'btn_menu_faq'%></li>
			<li><%= link_to "Cadastro", '/faq_cadastro', remote: true , class: 'btn_menu_faq'%></li>
			<li><%= link_to "Conteúdo dos artistas no portal", '/faq_artistas', remote: true , class: 'btn_menu_faq'%></li>
			<li><%= link_to "Integração", '/faq_integracao', remote: true , class: 'btn_menu_faq' %></li>
			<li><%= link_to "Conteúdo geral do portal", '/faq_conteudo', remote: true , class: 'btn_menu_faq'%></li>
			<li><%= link_to "Anúncios e Parceiros", '/faq_anuncios', remote: true , class: 'btn_menu_faq'%></li>

		</ul>
	</nav>
	
	<section class="faq">
		
		<h3>Peguntas frequentes</h3>	
		
		<div class="content_faq">
			
		</div>
	</section>
</div>

