<% if !@status.nil? %>  
    <%= alert(@status, 'Opps! Ocorreu um erro')%>  
<% end %>
<%= simple_form_for(@link_sound_cloud, remote: true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">    
    <%= f.input :link, placeholder: 'https://soundcloud.com/user-000000000', autofocus: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
