<% if !@status.nil? %>
  <p>
    <div class="alert alert-success mensagem" id="mensagem"></div>
  </p>  
<% end %>

  <% if @profile == "admin" %>
    <p>
      <%= link_to 'Adicionar Noticia', '/nova_noticia/adm', remote: true ,:class => 'btn btn-default'  %>  
    </p>
    
  <% end %>

<% if @notices.empty? %>
    <h5>Não existem noticias cadastradas</h5>  
<% else %>
  <% @notices.each do |notice| %>
      <div class="container-noticias text-justify">
        <div class="noticias-index">          
            <% if @profile == "admin" %>
              <h3><%= notice.titulo %></h3>
            <% else %>         
              <h3>
                <%= link_to "#{notice.titulo}", "/show_noticia/#{notice.id}", remote: true %>
              </h3>
            <% end %>
          
            <div class="noticias">
                <% if notice.logo.present? %>
                  <span class="imagem-noticia-list">
                    <%= image_tag(notice.logo.url(:small)) %>
                  </span> 
                <% end %>
                <span class="texto-noticias"><%= sub_texto(notice.noticia,500) %></span>
                <br/>
                <span class="criado-em"><strong>Data de criação : </strong><%= notice.created_at.strftime('%d/%m/%Y') %></span>
                <br/>

                <% if @profile == "admin" %>
                    <td><%= link_to 'Mostar', "/show_noticia/#{notice.id}/admin" ,class: 'btn btn-default', remote: true %></td>
                    <td><%= link_to 'Editar', "/edit_noticia/#{notice.id}/admin", class: 'btn btn-default', remote: true %></td>
                    <td><%= link_to 'Remover', "/remove_noticia/#{notice.id}/admin", class: 'btn btn-danger',remote: true ,method: :delete, data: { confirm: 'Deseja realmente excluir esta noticia?' } %></td>
                <% end %> 
            </div>
            <span class='clear'></span>        
        </div>
      </div>  
  <% end %>
<% end %>

