<% if !@status.nil? %>
  <p>
    <div class="alert alert-success mensagem" id="mensagem"></div>
  </p>  
<% end %>

  <% if @profile == "admin" %>
    <p>
      <%= link_to 'Adicionar Noticia', '/nova_noticia/adm', remote: true ,:class => 'btn btn-default'  %>  
    </p>
    
  <% end %>

<% if @notices.empty? %>
    <h5>Não existem noticias cadastradas</h5>  
<% else %>
  <% @notices.each do |notice| %>
      <div class="container-noticias text-justify">
        <div class="noticia">
          <p>
            <% if @profile == "admin" %>
              <h3><%= notice.titulo %></h3>
            <% else %>         
              <h3>
                <%= link_to "#{notice.titulo}", "/show_noticia/#{notice.id}", remote: true %>
              </h3>
            <% end %>
          </p>
          <div class="noticia">
            <% if notice.imagem.present? %>
              <span class="imagem-noticia-list">
                <%= image_tag(notice.imagem.url(:thumb)) %>
              </span> 
            <% end %>
            <span class="texto-noticia"><%= sub_texto(notice.noticia,500) %></span>
          </div>
          
          <br/>
          <p>
            <strong>Criando em : </strong><%= notice.created_at.strftime('%d/%m/%Y') %>
          </p>
          <% if @profile == "adm" %>
            <td><%= link_to 'Mostar', "/show_noticia/#{notice.id}/adm" ,class: 'btn btn-default', remote: true %></td>
            <td><%= link_to 'Editar', "/edit_noticia/#{notice.id}/adm", class: 'btn btn-default', remote: true %></td>
            <td><%= link_to 'Remover', "/remove_noticia/#{notice.id}/adm", class: 'btn btn-danger',remote: true ,method: :delete, data: { confirm: 'Deseja realmente excluir esta noticia?' } %></td>
          <% end %>
        </div>
        
        </div>
  <% end %>
<% end %>

