 <% content_for :js do %> 
   <%= javascript_include_tag "application" %> 
<% end %>

<% if !@status.nil? %>  
    <%= 
      case @action
      when 'create'
         alert(@status, 'Notícia criado com sucesso!')
      when 'update'    
         alert(@status, 'Notícia atualizado com sucesso!')
      when 'destroy'      
         alert(@status, 'Notícia removido com sucesso!')
      end    
      %>   
<% end %>

  <% if @profile == "admin" %>
    <p>
      <%= link_to 'Adicionar Notícia', '/nova_noticia/admin', remote: true ,:class => 'btn btn-default'  %>  
    </p>
    
  <% end %>

<% if @notices.empty? %>
    <div class="container">
      <h5>Não existem notícias cadastradas</h5>  
    </div>
<% else %>
  <% @notices.each do |noticia| %>
      <div class="container-noticias painel-show-info dimenssao-pinel-noticias-palavras text-justify">
        <div class="noticias-index">          
            <% if @profile == "admin" %>
              <h3><%= noticia.titulo %></h3>
            <% else %>         
              <h3>
                <%= link_to "#{noticia.titulo}", "/show_noticia/#{noticia.id}", remote: true %>
              </h3>
            <% end %>
          
            <div class="noticias">
                <% if noticia.logo.present? %>
                  <span class="imagem-noticia-list">
                    <%= image_tag(noticia.logo.url(:small)) %>
                  </span> 
                <% end %>
                <span class="texto-noticias"><%= sub_texto(noticia.noticia,500) %></span>
                <br/>
                <p>
                  <span class="criado-em"><strong>Data de criação : </strong><%= noticia.created_at.strftime('%d/%m/%Y') %></span>

                  <% if @profile == "admin" %>
                      <td><%= link_to 'Mostar', "/show_noticia/#{noticia.id}/admin" ,class: 'btn btn-default', remote: true %></td>
                      <td><%= link_to 'Editar', "/edit_noticia/#{noticia.id}/admin", class: 'btn btn-default', remote: true %></td>
                      <td><%= link_to 'Remover', "/remove_noticia/#{noticia.id}/admin", class: 'btn btn-danger',remote: true ,method: :delete, data: { confirm: 'Deseja excluir esta noticia?' } %></td>
                  <% end %> 
                </p>  
                <span class="clear"></span>    
            </div>
        </div>
      </div>  
  <% end %>
<% end %>



