

<p>
  <strong><%= @notice.titulo %></strong>  
</p>

<p>
   <%= raw(@notice.noticia) %>

   <span class="text-right">
   	<strong>Criando em : </strong><%= @notice.created_at.strftime('%d/%m/%Y') %>
   </span>
</p>

<%= link_to 'Edit', "/edit_noticia/#{@notice.id}/adm", class: 'btn btn-default', remote: true %> |
<%= link_to 'Back', '/noticias/adm', class: 'btn btn-default', remote: true %>
