<strong><%= "id #{current_artist.id}" %></strong>

<%= simple_form_for(@artist_data, html: {remote: true, multipart: true}) do |f| %>
  
  <%= f.error_notification %>

  <div class="field">
    <%= f.input :nome %><br>    
  </div>

  <%= f.input :logo, as: :file %>

  <div class="field">
     
  </div>
  <fieldset>
      <legend>Contato</legend>
      <%= f.simple_fields_for :emails do |e|%>             
         <%= e.input :email %><br>
      <% end %>

      <%= f.simple_fields_for :phones do |p|%>  
          <%= p.input :telefone %>
      <% end %>
<!-- ckedit -->
      <%= f.simple_fields_for :history do |h|%> 
        <p>
          <%= h.input :historia, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'mini', :cols => 100} } %>
        </p>
      <% end %>
  </fieldset>

  

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
