
  <div class="artistas">
    <% if @artist_data.empty? %>
      <h5>Não exitem artistas cadastrados</h5>
    <% else %>
      <div><%= render partial: 'artist_datas/search_artist' %></div>
      <% @artist_data.each do |artist_data| %>
        <div class="item-artista">
           <% if artist_data.logo.present? %>
            <%= link_to(image_tag(artist_data.logo.url(:medium), class: 'img-thumbnail'), "/show_artista/#{artist_data.id}" ,remote: true, class: "artista-profile")  %>
           <% else %>
            <%= link_to(image_tag("ImagemArtistaSemFoto.png", with:'200px', height:'200px', class: 'img-thumbnail artista-profile' ),"/show_artista/#{artist_data.id}", remote: true) %>
           <% end %> 
           <br/>
           <span class="text-center"> <%= artist_data.nome %> </span>
         </div>
         <% if @profile == "adm" %> 
          <%= link_to "Editar","/edit_disco/#{album.id}/adm", :class => "btn", :remote => true %>

              <%= link_to 'Apagar', "/remove_disco/#{album.id}/adm", method: :delete, :remote => true ,data: { confirm: 'Are you sure?' } , class: 'btn btn-danger'%>
        <% end %>
      <% end %>
    <% end %>  
  </div>
  <div class="painel-artistas">
      
  </div>
<br>


