<script>
	//Soundcloud 
	SC.initialize({
	  client_id: 'f4c03b2d8812aab375f54ccd52f2fd56'
	});

	var track_url = 'https://soundcloud.com/bob-zany-show';
	SC.oEmbed(track_url, { auto_play: false }).then(function(oEmbed) {
		$("#id-painel-agenda").html(oEmbed.html); 
	});   
</script>


<% if artist_signed_in? and (@artist_data.nome.nil? || @artist_data.phones.empty? || @artist_data.emails.empty? || @artist_data.history.nil?)  %>
	<div class="alert alert-danger">Você precisa <%= link_to "concluir seu cadastro!", principal_index_path, class: 'alert-link' %></div>	
<% else %>
	<div class="container ">
		<div class="pag-show-artista">
			
				<span class="show-art-principal"><h3><%= @artist_data.nome %></h3></span>
				
				<div class="painel-image">	
					
					<% if @artist_data.logo.present? %>
						<%= image_tag(@artist_data.logo.url(:perfil), class: 'posicionamento  img-thumbnail') %>	
					<% else %>
						<%= image_tag("ImagemArtistaSemFoto.png", width:'500', height:'300', class: 'posicionamento perfil-display') %>
					<% end %>

					<div class="contato">
						<%
						 t = 0
						 
						 @artist_data.phones.each do |tel|

						 	t += 1 
						 	if t > 1
						 		break
						 	end	
						 %>
						 	<%= cl_image_tag("body-img/IconeFone.png") %> 
						 	<%= tel.telefone %>						 
						 <% end %>

						<% 
						e = 0
						@artist_data.emails.each do |email|
							e += 1
							if e > 1
								break
							end
						%>	
							<%= cl_image_tag("body-img/IconeEnvelope.png") %> 
							<%= email.email %>	
						<% end %>	

						<span class="logo-redesocial">
							<%= cl_image_tag("body-img/IconeTwitter.png") %>
							<%= cl_image_tag("body-img/IconeFacebook.png") %>
						</span>
					</div>	
				</div>

				<div class="painel-agenda" id="id-painel-agenda">					
					
					

				</div>
				<nav class="sub-menu"> 
						<ul>
							<li><%= link_to 'Release', "/historia/#{@artist_data.id}", remote: true, :class => 'btn-sm btn-default-index'  %></li>
							<li><%= link_to 'Albuns', "/album/#{@artist_data.id}/user", remote: true, :class => 'btn-sm btn-default-index' %></li>
							<li><%= link_to 'Videos', "/videos/#{@artist_data.id}/user", remote: true, :class => 'btn-sm btn-default-index' %></li>
							<li><%= link_to 'Contatos', "/contato/#{@artist_data.id}", remote: true, :class => 'btn-sm btn-default-index' %></li>
							<li><%= link_to 'Agenda', "/agenda/#{@artist_data.id}/user", remote: true, :class => 'btn-sm btn-default-index' %></li>			
						</ul>
					</nav>
				<div class="painel-artistas">					
					
					<% if @artist_data.history.nil? %>
						Não possui História cadastrada
					<% else %>
						<%= render "show_historia" %>
					<% end %>
				</div>
			    <!--<%= link_to("Voltar", '/artistas', remote: true, class: 'btn btn-default' ) %>	-->
			
			
		</div>
	</div>	
<% end %>

