<div class="dados-login">
  <% if artist_signed_in? %>  	  
      <div class="btn-group">
        <a class="btn btn-default" href=""><i class="icon-user icon-white"></i> <%= current_artist.email %> </a>
        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a> 
        
        <ul class="dropdown-menu">
          <li>
            <%= link_to destroy_artist_session_path, method: :delete do %>
              <i class='glyphicon glyphicon-log-out'>Logout</i>
            <% end %>
          </li>
          <li>
            <%= link_to principal_index_path do %>
              <i class='glyphicon glyphicon-user'>Perfil</i>
            <% end %>    
          </li>          
      </ul>
    </div>      
    <% else %>
    	
      <%= link_to 'Login', artist_session_path %> 
       / 
       <%= link_to  'Cadastrar', new_artist_registration_path  %>       
    <% end %>
  </div>

<p id="notice"><%= notice %></p>

<% if artist_signed_in? %>
  
<% else %>
  <%= link_to 'New Artist data', new_artist_data_path, :class => 'btn-sm btn btn-default' %>
<% end %>

  <div class="artistas">
    <% @artist_datas.each do |artist_data| %>
      <div class="item-artista img-thumbnail">
         <%= link_to(image_tag(artist_data.logo.url(:medium)), artist_data_path(artist_data))  %>
         <br/>
         <span class="text-center"> <%= artist_data.nome %> </span>
       </div>
    <% end %>
  </tbody>
</table>
</div>
<br>


