

<div class="painel-noticias">								
	<span class="noticia">
	<!--Noticias-->
		<%= render 'welcome/partial_index/noticia' %>		
	</span>
	<span class="anuncio">
	<!--anuncio-->	
		
	</span>
	<span class="video">	
	<!--Video-->	
		<%= render 'welcome/partial_index/video' %>
	</span>
	
</div>
			
<div class="anuncios">
	<div class="anuncio-maior">ANUNCIO</div>
	<div class="anuncio-menor">ANUNCIO</div>
</div>

<div class="painel-palavras">
	<!--Palavras-->
	<div class="parte-maior">
		<%= render 'welcome/partial_index/palavra' %>
	</div>
	<!--TOP 5 MUSICAS-->
	<div class="parte-menor">
		<%= render 'welcome/partial_index/top5' %>
	</div>
</div>

<div class="painel-midia-sociais">
	<div class="midia-maior">
		<!--Facebook-->
		<%= render 'welcome/partial_index/redesocial'%>
	</div>
	<div class="midia-anuncio-menor">ANUNCIO</div>
</div>