
	<nav class="menu">		
		
			<ul class="left-menu">
				<li><%= link_to "QUEM SOMOS", '/quem_somos' %></li>
				<li><%= link_to "ARTISTAS", '/artistas' %></li>
				<!--<li><a href="#">EVENTOS</a></li>-->
				<li><%= link_to "VIDEOS", '/videos' %></li>
				
			</ul>
			<ul class='right-menu'>
				<li><%= link_to "NOTÃCIAS", '/noticias' %></li>
				<li><%= link_to "PALAVRAS", '/palavras' %></li>
				<li><%= link_to "CONTATO", '/contato' %></li>
			</ul>
		
	</nav>

