<div class="left">		
	<span class="text-ultima">&Uacute;LTIMAS </span> <span class="titulo-noticia">NOTÍCIAS</span>
		
	<% if @noticia.nil? %>
		<h5>Não existe noticias cadastradas</h5>
	<% else %>			
		<div class="noticia">
			<%= @noticia.logo.present? ? raw('<span class="titulo">') : raw('<span class="titulo-sem-img">') %>
			<%= @noticia.titulo.capitalize %>
		</div>
		
		<div class="img-noticia noticia-index">
			<%= image_tag(@noticia.logo.url(:small)) if @noticia.logo.present?  %>									
		</div>	
				
		<div class="noticia-index text-justify">				
			<%= sub_texto(raw(@noticia.noticia),150) if !@noticia.nil? && @noticia.logo.present? %>						
			
			<% if !@noticia.nil? && !@noticia.logo.present? %>		
				<%= raw('<div class="texto-noticia text-justify">') %> 
				<%= sub_texto(raw(@noticia.noticia),300) %>
				<%= raw('</div>') %> 
			<% end %>			

		</div> 
		
		<div class="botao-veja-mais-ultima-noticia">
			<%= link_to "LEIA AGORA", "/show_noticia/#{@noticia.id}", remote: true , class: 'btn-default-index'  %>
		</div>
		
	<% end %>
	
</div>

