<div class="left">		
		<span class="text-ultima">&Uacute;LTIMAS </span> <span class="titulo-noticia">NOTÍCIAS</span>
		
		<% if @noticia.nil? %>
			<h5>Não existe noticias cadastradas</h5>
		<% else %>			
			<span class="noticia">
				<% if @noticia.logo.present? %>
					<span class="titulo">
				<% else %>
					<span class="titulo-sem-img">
				<% end %>			
				<%= @noticia.titulo.capitalize %>								
				</span>
				
				
					<span class="noticia-index text-justify">
						<% if @noticia.logo.present? %>
							<%= image_tag(@noticia.logo.url(:small))  %>									
							<%= sub_texto(raw(@noticia.noticia),299) if !@noticia.nil? %>						
						<% else %>
							<span class="texto-noticia text-justify">
								<%= sub_texto(raw(@noticia.noticia),400) if !@noticia.nil? %>	
							</span>		
						<% end %>	
					</span> 
			
				<div class="botao-veja-mais-ultima-noticia">
					<%= link_to "LEIA AGORA", "/show_noticia/#{@noticia.id}", remote: true , class: 'btn-default-index'  %>
				</div>
			</span>
		<% end %>
	
</div>

