

<div class="artistas">
	<%= simple_form_for :filtro do |f| %>
		<%= f.input :option, collection: [['Todos','t'],['Aprovado','a'], ['Bloqueado','b'], ['Aguardando aprovação','ap'],['Incopleto','i']], :input_html => {"data-remote" => true, "data-url" => "/artistas_filter" } %>
	<% end %>
    <% if @artists.nil? || @artists.empty? %>
		Não exitem artista <%= @option %>
    <% else %>
	    <% @artists.each do |artist| %>      
	      <div class="painel-show-adm text-aling">
		      <% if !artist.aprovado? && !artist.nome.nil? %>
				<span class="text-danger artista-nao-aprovado"><h5>Aguardando aprovação</h5></span>
		      <% end %>
		      <% if artist.bloqueado? %>
				<span class="text-danger artista-nao-aprovado"><h5>Bloqueado</h5></span>
		      <% end %>      
		      <% if artist.nome.nil? %>
				<span class="text-danger artista-nao-aprovado"><h5>Cadastro Incompleto</h5></span>
		      <% end %>      
			  
		      <%= image_tag artist.logo.url(:medium), :class => 'img-thumbnail' %>      
		      <%= artist.nome %>
		      <br />
		      <% if @profile == "adm" %>        
		        <%= link_to "Vizualizar","/show_artista/#{artist.id}/adm", :class => "btn btn-default btn-xs", :remote => true %>
						
			        <% if  @adm.id != artist.id %>
			        	<% if  artist.aprovado? and !artist.bloqueado?  %>	
			        		<%= link_to 'Bloquear', "/bloquear_artista/#{artist.id}/adm", :remote => true ,data: { confirm: 'Você está prestes a bloquear este artista, confirma ?' } , class: 'btn btn-warning btn-xs'%>
			        	<% end %>		        	
			      	<% end %>	
		      <% end %>
	    	</div>
	  
	    <% end %> 
	  <% end %>  
 </div>
