<div class="panel panel-default">
	<div class="panel-heading"><h3><%= @artist_data.nome %></h3></div>
	<div class="panel-body">
			
			<div class="panel panel-default">
				<div class="panel-heading">Capa</div>
				<div class="panel-body">		
					<% if @artist_data.logo.present? %>
						<%= cl_image_tag(@artist_data.logo.url(:medium), :class => 'img-thumbnail') %>					
					<% else %>
						<%= image_tag("ImagemArtistaSemFoto.png", width: '250px', heigth: '250px;') %>
					<% end %>
					<br />	
					
				</div>
			</div>		
		
			<div class="panel panel-default">
				<div class="panel-heading">Contatos</div>
				<div class="panel-body">		
					<%= render partial: 'artist_datas/show_contato'%>
				</div>
			</div>		
		

		
			<div class="panel panel-default">
				<div class="panel-heading">Album</div>
				<div class="panel-body">
					<%= render partial: 'discographys/index'%>
				</div>
			</div>
		
		
		
			<div class="panel panel-default">
				<div class="panel-heading">Videos</div>
				<div class="panel-body">
					<%= render partial: 'videos/index'%>
				</div>	
			

		
			<div class="panel panel-default">
				<div class="panel-heading">Agenda</div>
				<div class="panel-body">
					<%= render partial: 'commitments/index'%>
				</div>
			</div>			
		
		
			<div class="panel panel-default">
				<div class="panel-heading">História</div>
				<div class="panel-body">
					<%= render partial: 'artist_datas/show_historia'%>
				</div>
			</div>		
		
	
		
			<% if !@artist_data.aprovado? %>
				<%= link_to 'Aprovar',"/aprovar_artista/#{@artist_data.id}/adm", remote: true, data: { confirm: 'Deseja aprovar a publicação deste artista?' }, class: 'btn btn-lg btn-success'%>
			<% end %>
			<% if  @artist_data.aprovado? and @artist_data.bloqueado?  %>	
		    	<%= link_to 'Desbloquear', "/desbloquear_artista/#{@artist_data.id}/adm", :remote => true ,data: { confirm: 'Você está prestes a desbloquear este artista, confirma ?' } , class: 'btn btn-warning btn-lg'%>
		    <% end %>
	</div>
</div>
	

