<%= simple_form_for(@rede_social, remote: true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    
    <%= f.input :facebook,  placeholder: 'https://www.facebook.com/seu-perfil', autofocus: true %>
    <%= f.input :twitter, placeholder: 'https://www.twitter.com/seu-perfil' %>
    <!--<%= f.input :instagram %>
    <%= f.input :googleplus %>
    <%= f.input :linkedid %>-->
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Inserir' %>
  </div>
<% end %>

<script>
  $('#rede_social_facebook').focus(function(){
    if ($(this).val() == '') {
      $(this).val('https://www.facebook.com/');                
    }
  });
  $('#rede_social_facebook').blur(function(){    
    if ($(this).val() == 'https://www.facebook.com/') {
      $(this).val('');          
      return false;
    }
  });
  
  $('#rede_social_twitter').focus(function(){
    if ($(this).val() == '') {
      $(this).val('https://www.twitter.com/');          
    }
  });
  $('#rede_social_twitter').blur(function(){
    
    if ($(this).val() == 'https://www.twitter.com/') {
      $(this).val('');          
      return false;
    }
  });
</script>
