
<p>
  <% if @profile == "adm" and @exist_rede_social_cad.empty? %>
    <%= link_to 'Adicionar Rede social', "/novo_rede_social/", remote: true, :class => 'btn btn-default'  %>
  <% end %>
</p>
<% if @artist_data.rede_social.nil? %>
  <h5>Não possui redesocial cadastrada </h5>
<% else %>
  <div class="painel-redesocial">   
      <p>
      <% if !@artist_data.rede_social.facebook.empty? %>
        <p>
        <strong>Facebook: </strong>     <%= @artist_data.rede_social.facebook %> <br/>
        </p>
      <% end %>
      <% if !@artist_data.rede_social.twitter.empty? %>
        <p>
        <strong>Twitter: </strong>     <%= @artist_data.rede_social.twitter %> <br/>
        </p>
      <% end %>     
       
  </div>  
  <% if @profile == "adm" %>          
      <%= link_to 'Editar', "/edit_rede_social/#{@artist_data.rede_social.id}/adm", remote: true, class: 'btn btn-default'%>
      <%= link_to 'Excluir', "/remove_rede_social/#{@artist_data.rede_social.id}/adm", method: :delete, :remote => true ,data: { confirm: 'Deseja excluir este link?' } , class: 'btn btn-danger'%>
  <% end %>      
      
      </p>
    
<% end %>