<% if !@status.nil? %>  
    <%= alert(@status, 'Opss! Ocorreu um erro')%>  
<% end %>
<%= simple_form_for(@video, url: "/videos#{@user}", remote: true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
       <%= f.input :link, autofocus: true %>
      
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Inserir' %>
  </div>
<% end %>
