<p id="notice"><%= notice %></p>

<p>
  <strong>Artist data:</strong>
  <%= @history.artist_data %>
</p>

<p>
  <strong>Historia:</strong>
  <%= @history.historia %>
</p>

<%= link_to 'Edit', edit_history_path(@history) %> |
<%= link_to 'Back', historys_path %>
