<p id="notice"><%= notice %></p>

<h1>Listing Eddress Shows</h1>

<table>
  <thead>
    <tr>
      <th>Commitment</th>
      <th>Local</th>
      <th>Endereco</th>
      <th>Numero</th>
      <th>Telefone</th>
      <th>Site</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eddress_shows.each do |eddress_show| %>
      <tr>
        <td><%= eddress_show.commitment %></td>
        <td><%= eddress_show.local %></td>
        <td><%= eddress_show.endereco %></td>
        <td><%= eddress_show.numero %></td>
        <td><%= eddress_show.telefone %></td>
        <td><%= eddress_show.site %></td>
        <td><%= link_to 'Show', eddress_show %></td>
        <td><%= link_to 'Edit', edit_eddress_show_path(eddress_show) %></td>
        <td><%= link_to 'Destroy', eddress_show, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Eddress show', new_eddress_show_path %>
