<p id="notice"><%= notice %></p>

<p>
  <strong>Commitment:</strong>
  <%= @eddress_show.commitment %>
</p>

<p>
  <strong>Local:</strong>
  <%= @eddress_show.local %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @eddress_show.endereco %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @eddress_show.numero %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @eddress_show.telefone %>
</p>

<p>
  <strong>Site:</strong>
  <%= @eddress_show.site %>
</p>

<%= link_to 'Edit', edit_eddress_show_path(@eddress_show) %> |
<%= link_to 'Back', eddress_shows_path %>
