<p id="notice"><%= notice %></p>

<p>
  <strong>Artist data:</strong>
  <%= @member.artist_data %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @member.nome %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', memberes_path %>
