<p id="notice"><%= notice %></p>

<h1>Listing Top5s</h1>

<table>
  <thead>
    <tr>
      <th>Artist</th>
      <th>Titulo</th>
      <th>Rank</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @top5s.each do |top5| %>
      <tr>
        <td><%= top5.artist %></td>
        <td><%= top5.titulo %></td>
        <td><%= top5.rank %></td>
        <td><%= link_to 'Show', top5 %></td>
        <td><%= link_to 'Edit', edit_top5_path(top5) %></td>
        <td><%= link_to 'Destroy', top5, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Top5', new_top5_path %>
