<%= simple_form_for(@commitment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :artist_data %>
    <%= f.input :data %>
    <%= f.input :hora %>
  </div>

  <%= f.simple_fields_for :eddress_shows do |e|%>
	<%= e.input :local %>
    <%= e.input :endereco %>
    <%= e.input :numero %>
    <%= e.input :telefone %>
    <%= e.input :site %>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
