<% if !@status.nil? %>  
    <%= 
      case @action
      when 'create'
         alert(@status, 'Show criado com sucesso!')
      when 'update'    
         alert(@status, 'Show atualizado com sucesso!')
      when 'destroy'      
         alert(@status, 'Show removido com sucesso!')
      end    
      %>    
<% end %>

<% if @profile == "adm" %>
  <p>
    <%= link_to 'Adicionar Show', '/novo_agenda', remote: true, :class => 'btn btn-default'  %>
  </p>
<% end %>

<% if @artist_data.commitments.empty? %>
  <h5>Não possui agenda cadastrado </h5>
<% else %>
  
    <% @artist_data.commitments.each do |agenda| %>     
      <div class="painel-show-info">
        <strong>Data: </strong>     <%= agenda.data.strftime('%d/%m/%Y') %> <br/>
        <strong>Hora: </strong>     <%= agenda.hora.strftime("%H:%M") %> <br/>    
        <strong>Local: </strong>    <%= agenda.local %> <br/>
        <strong>Endereço: </strong> <%= agenda.endereco %> 
        <strong>Num. </strong>      <%= agenda.numero %> <br/>
        <strong>telefone: </strong> <%= agenda.telefone %> <br/>
        <strong>Site: </strong>     <%= agenda.site %> <br />
         
          <% if @profile == "adm" %>
            <%= link_to "Editar","/edit_agenda/#{agenda.id}/adm", :class => "btn btn-default", :remote => true %>

            <%= link_to 'Excluir', "/remove_agenda/#{agenda.id}/adm", method: :delete, :remote => true ,data: { confirm: 'Deseja excluir este Show?' } , class: 'btn btn-danger'%>
          <% end %>
      
    
      </div> 
    <% end %>   
<% end %>