<% if !@status.nil? %>
  <p>
    <div class="alert alert-success mensagem" id="mensagem"></div>
  </p>  
<% end %>



  <% if @profile == "adm" %>
    <p>
      <%= link_to 'Adicionar Palavra', '/nova_palavra/adm', remote: true ,:class => 'btn btn-default'  %>  
    </p>
    
  <% end %>

<% if @words.empty? %>
    <h5>Não existem palavras cadastradas</h5>  
<% else %>
  <% @words.each do |word| %>
      <div class="container-noticias text-justify">
        <div class="noticia">
          <p>
            <% if @profile == "adm" %>
              <h3><%= word.titulo %></h3>
            <% else %>         
              <h3><%= link_to "#{word.titulo}", "/show_palavra/#{word.id}", remote: true %></h3>
            <% end %>
          </p>
          <td><%= sub_texto(word.texto) %></td>            
          <br/>
          <p>
            <strong>Criando em : </strong><%= word.created_at.strftime('%d/%m/%Y') %>
          </p>
          <% if @profile == "adm" %>
            <td><%= link_to 'Mostrar', "/show_palavra/#{word.id}/adm" ,class: 'btn btn-default', remote: true %></td>
            <td><%= link_to 'Editar', "/edit_palavra/#{word.id}/adm", class: 'btn btn-default', remote: true %></td>
            <td><%= link_to 'Remover', "/remove_palavra/#{word.id}/adm", class: 'btn btn-danger',remote: true ,method: :delete, data: { confirm: 'Deseja realmente excluir esta palavra?' } %></td>
          <% end %>
        </div>
        
        </div>
  <% end %>
<% end %>

