<div class="pag-show">

    <h3><%= @word.titulo %></h3>

  	<% if @word.logo.present? %>
         <span class="imagem-noticia-show"><%= image_tag(@word.logo.url(:medium)) %></span> 
      <% end %>
  <p class='text-justify'>
     <%= raw(@word.texto) %>
     <br>
     <span class="text-right">
     	<strong>Data de criação : </strong><%= @word.created_at.strftime('%d/%m/%Y') %>
     </span>
  </p>
  <% if @status == 'admin'  %>
  	<%= link_to 'Editar', "/edit_palavra/#{@word.id}/admin", class: 'btn btn-default', remote: true %> |
  <% end %>
  <%= link_to 'Voltar', '/palavras', class: 'btn btn-default', remote: true %>
  
</div>