<% if !@status.nil? %>  
    <%= 
      case @action
      when 'create'
         alert(@status, 'Palavra criado com sucesso!')
      when 'update'    
         alert(@status, 'Palavra atualizada com sucesso!')
      when 'destroy'      
         alert(@status, 'Palavra removido com sucesso!')
      end    
      %>  
<% end %>

  <% if @profile == "admin" %>
    <p>
      <%= link_to 'Adicionar Palavra', '/nova_palavra/admin', remote: true ,:class => 'btn btn-default'  %>  
    </p>
    
  <% end %>
  <% if @words.empty? %>
    <div class="container">
      <h5>Não existem palavras cadastradas</h5>  
    </div>
<% else %>  
    <% @words.each do |word| %>
      <div class="container-noticias painel-show-info dimenssao-pinel-noticias-palavras text-justify">
        <div class="noticias-index">          
            <% if @profile == "admin" %>
              <h3><%= word.titulo %></h3>
            <% else %>         
              <h3>
                <%= link_to "#{word.titulo}", "/show_palavra/#{word.id}", remote: true %>
              </h3>
            <% end %>
          
            <div class="noticias">
                <% if word.logo.present? %>
                  <span class="imagem-noticia-list">
                    <%= image_tag(word.logo.url(:small)) %>
                  </span> 
                <% end %>
                <span class="texto-noticias"><%= sub_texto(word.texto,500) %></span>
                <br/>
                <p>
                  <span class="criado-em"><strong>Data de criação : </strong><%= word.created_at.strftime('%d/%m/%Y') %></span>

                  <% if @profile == "admin" %>
                      <td><%= link_to 'Mostar', "/show_palavra/#{word.id}/admin" ,class: 'btn btn-default', remote: true %></td>
                      <td><%= link_to 'Editar', "/edit_palavra/#{word.id}/admin", class: 'btn btn-default', remote: true %></td>
                      <td><%= link_to 'Remover', "/remove_palavra/#{word.id}/admin", class: 'btn btn-danger',remote: true ,method: :delete, data: { confirm: 'Deseja realmente excluir esta palavra?' } %></td>
                  <% end %> 
                </p>  
            </div>
        </div>
      </div>  
  <% end %>
<% end %>



