<% if !@status.nil? %>  
    <%= 
      case @action
      when 'create'
         alert(@status, 'Email criado com sucesso!')
      when 'update'    
         alert(@status, 'Email atualizado com sucesso!')
      when 'destroy'      
         alert(@status, 'Email removido com sucesso!')
      end    
      %>   
<% end %>
<p>
  <% if @profile == "art" %>
    <%= link_to 'Adicionar email', '/novo_email', remote: true, :class => 'btn btn-default'  %>
  <% end %>
</p>
<% if @artist_data.emails.empty? %>
  <h5>Não possui email cadastrado </h5>
<% else %>
  
    
    <% @artist_data.emails.each do |email| %>     
      <div class="show-info">
        <strong>Email: </strong><%= email.email %>
        <br />
        <% if @profile == "art" %>
          <%= link_to "Editar","/edit_email/#{email.id}/art", :class => "btn btn-default ", :remote => true %>
          <% if @emails_count > 1 %>
            <%= link_to 'Excluir', "/remove_email/#{email.id}/adm", method: :delete, :remote => true ,data: { confirm: 'Deseja excluir este email?' } , class: 'btn btn-danger'%>
          <% end %>
        <% end %>
      </div>  
    <% end %>   
  
<% end %>