<div class="container mix_tape">
	<p>
		<h3>DOWNLOAD GRÁTIS DO MIXTAPE BRASIL RAP CRISTÃO</h3>
	</p>
	

	<p class='text-justify'>
		Já está disponível para download gratuito, o MixTape Rap Brasil Cristão. O projeto vem sendo desenvolvido desde o final do ano passado, o MixTape contém 19 faixas sendo todas inéditas, contando com a participação de mais de 50 Mc's espalhados por todo o Brasil.
	</p>
	<p>
		A ideia de unir o Rap Cristão de todas as partes do país, em prol do objetivo de propagar a Palavra de Deus em forma de arte.
	</p>

	<h3>Artistas Participantes:</h3>

	<ol>
		<li>Maravilhosa graça - Tom (Calvário), Diogo (Prova Viva Rap) e Nino Rapper</li>
		<strong>Produção: </strong>Drin Beats
		<strong>Mixagem: </strong>Diogo Veiga		
		<li>Classic - Erick Sk, Will Dias e Léo Oliveira</li>
		<strong>Produção: </strong>Erick Beats
		<strong>Mixagem: </strong>Léo Oliveira
		
		<li>Gratidão - DH, Mantcha e Pujol</li>
		<strong>Produção: </strong>Erick Beats
		<strong>Mixagem: </strong>Erick Beats
		
		<li>No que você crê? - Rob (Rima Nova), Paulo Poeta e André Peres</li>
		<strong>Produção: </strong>Renato Paixão
		<strong>Mixagem: </strong>Paulo Poeta
		
		<li>Resiliência - Madruga (Somos 1) e Familia Extreme</li>
		<strong>Participação: </strong>C2(Somos 1)
		<strong>Scratch: </strong>Dj Hams
		<strong>Produção: </strong>Juninho Extreme
		<strong>Mixagem: </strong>Erick Beats
		
		<li>Rude Cruz - Alx (Obra Prima) e Big Ugli-ci (Filosofia de Rua)</li>
		<strong>Paticipação: </strong>Marlaum
		<strong>Produção: </strong>Hope
		<strong>Mixagem: </strong>Renato Sales
		
		<li>Além dos palcos - Kpaz  (AMP) e NA emcee</li>
		<strong>Produção: </strong>L-ton
		<strong>Mixagem: </strong>AMP Produções
		
		<li>Meias verdades - Adriano Menestrel e Amanda More</li>
		<strong>Produção: </strong>L-ton
		<strong>Mixagem: </strong>Diogo Veiga
		
		<li>Novas Reformas - Abstrato e Leleco Dikaios</li>
		<strong>Produção: </strong>L-ton
		<strong>Mixagem: </strong>Galax
		
		<!-- 10 -->
		<li>A mesma resposta - Jhow (Guardiões), Rato Reverso e Everton Pqno</li>
		<strong>Produção: </strong>Rato Reverso
		<strong>Mixagem: </strong>Rato Reverso
		
		<li>Nação corrupta - Thiago (Alicerce) e D'raiz (AMP)</li>
		<strong>Scratchs: </strong>Dj Scooby
		<strong>Produção: </strong>AMP Produções
		<strong>Mixagem: </strong>AMP Produções
		
		<li>Mártires - Cortez, Marone Falasha e Filósofo</li>
		<strong>Participação: </strong>Marrom
		<strong>Produção: </strong>Estúdio Unsom
		<strong>Mixagem: </strong>Estúdio Unsom
		
		<li>Mais atitudes menos palavras - Mano Sassá (Santo Clã) e Jaison (Pdp Carmesim)</li>
		<strong>Participação: </strong>Jo-e
		<strong>Produção: </strong>Santo Clã
		<strong>Mixagem: </strong>Saidys
		
		<li>Eternos valores - Pablo Chileno (Somos 1) e Jefinho (Prova Viva Rap)</li>
		<strong>Participações: </strong>C2 (Somos 1) e Kerolaine (Prova Viva Rap)
		<strong>Produção: </strong>Abel
		<strong>Mixagem: </strong>Erick Beats
		
		<li>Rap Raro - Philipenses, Tubs (1° Co 13), RFL e Drégo (Reconciliados)</li>
		<strong>Produção: </strong>Rato Reverso
		<strong>Mixagem: </strong>Erick Beats
		
		<li>Meu real papel - Diesel, Paciência e Rafa'El Mc</li>
		<strong>Participações: </strong>Samantha e Maico Welter
		<strong>Produção: </strong>Erick Beats e Maico Welter
		<strong>Mixagem: </strong>Maico Welter
		
		<li>Amor Sem fronteiras - Binho (079), D'Cristo e Kacique</li>
		<strong>Participação: </strong>Heliton Silva
		<strong>Produção: </strong>Dj Lipe
		<strong>Mixagem: </strong>Josué Eliel (Bué)
		
		<li>Não vou parar - Rodrigo Luiz e Mael (Renascidos)</li>
		<strong>Participações: </strong>Pr. Oséias e Tiago Gabriel
		<strong>Produção: </strong>Estúdio Unsom
		<strong>Mixagem: </strong>Estúdio Unsom
		
		<li>Ventos - Cacau Siqueira e Fex Bandollero</li>
		<strong>Produção: </strong>Gâmbia Beats
		<strong>Mixagem: </strong>77 Produz
		
	</ol>
	
	<p>
		<strong>Masterização: </strong>77 Produz	
	</p>
	
	
	
	<div class="dow_mix_tape">
		<ul>
			<blockquote>
			<li><strong>links para Dowloads:</strong></li>
			<li><strong><%= link_to 'Mediafire','http://www.mediafire.com/download/8tx1mlgxszp2oj4/Mixtape+Brasil+Rap+Crist%C3%A3o+%282016%29+MP3-20160907T162243Z.rar',target: '_blank' %></strong></li>
			<li><strong><%= link_to '4Shared','http://www.4shared.com/rar/wedvontMba/Mixtape_Brasil_Rap_Cristo__201.html',target: '_blank' %></strong></li>
			<li><strong><%= link_to 'Dropbox','https://www.dropbox.com/s/xl84m6kvkk23xya/Mixtape%20Brasil%20Rap%20Crist%C3%A3o%20%282016%29.rar?dl=0',target: '_blank' %></strong></li>
			<li><strong><%= link_to 'Google Drive','https://docs.google.com/uc?id=0BwO3AiJz2qsaajhySlBnblVsWXc&export=download',target: '_blank' %></strong></li>
			</blockquote>
		</ul>
	
		<blockquote>
			Ou confira a <strong><%= link_to 'playlist','https://www.youtube.com/watch?v=imYbsXOlQiY&list=PLJxjm9LQlAEaQF8Azgh-IYvEzoKq6LeX6',target: '_blank' %></strong> no youtube:	
		</blockquote>	
		<blockquote>	
			Acesse a <strong><%= link_to 'FanPage', 'https://www.facebook.com/brasilrapcristao/',target: '_blank'  %></strong>	
		</blockquote>
	</div>

</div>