<%= simple_form_for(@discography, remote: true) do |f| %>
  <%= f.error_notification %>
	
  <div class="form-inputs">
    <%= f.file_field :logo %>
    <%= f.input :nome %>
    <%= f.input :data %>
    <%= f.input :artist_data_id, as: :hidden %>
    
  </div>

  

  <div class="form-actions">
    <%= f.button :submit, 'Incluir Disco' %>
  </div>
<% end %>

