<% if !@status.nil? %>
  <p>
    <div class="alert alert-success mensagem" id="mensagem"></div>
  </p>  
<% end %>

	<% if @profile == "adm" %>
	<p>
		<%= link_to 'Adicionar Disco', "/novo_disco/#{@artist_data.id}", remote: true ,:class => 'btn btn-default'  %>
	</p>
	<% end %>
<% if @artist_data.discographys.nil? %>
	<h5>Não possui disco cadastrado </h5>
<% else %>
	<% @artist_data.discographys.each do |album| %>
		<div class="painel-show-adm text-aling">
			<%= image_tag album.logo.url(:thumb), :class => 'img-thumbnail' %>
			<br />
			<strong>Titulo: </strong> <%= album.nome %>
			<strong>Lançamento:</strong><%= album.data.strftime('%v') %>
			
			<% if @profile == "adm" %>
				<%= link_to "edit","/edit_disco/#{album.id}/adm", :class => "btn btn-default", :remote => true %>

        		<%= link_to 'Destroy', "/remove_disco/#{album.id}/adm", method: :delete, :remote => true ,data: { confirm: 'Are you sure?' } , class: 'btn btn-danger'%>
			<% end %>
		</div>
	<% end %>
	
<% end %>

