<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <%= render 'welcome/partial_index/head' %>
  	<!-- contador de dowload -->
    <script type='text/javascript' src='http://dstats.net/js/dstracker.js'></script>
    <script type='text/javascript' src='http://dstats.net/dstatsjs.php?file=LINK_DOWNLOAD'></script>
    <%= yield :js %>
  </head>
  
  <body>
	<%= render partial: 'login/carregando' %>	
	<header>
		<div class="topo">
			<%= render partial: "welcome/partial_index/cabecalho" %>
		</div>		
	</header>
    
    <%= yield %>
    <div id="mixtape-modal" class="modal fade">
      <%= render partial: 'welcome/marketing/mixtape' %>  
    </div>
    
    <a href="#" class='btn-topo'><i class='glyphicon glyphicon-chevron-up'></i></a>
    
    <footer>
		<div class="rodape">
			<%= render partial: 'welcome/partial_index/rodape' %>
		</div>
	</footer>
  </body>
	


</html>
